footer{ 
    .bg_footer{

        background: rgb(43, 37, 52);
        display: flex;
        justify-content: center;
      
    }
    p{
        color:rgb(250, 245, 245);
        text-align: center;
        padding: 16px;
    }
}